* {box-sizing: border-box;}
html{
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.header{
  background-color: rgb(128, 0, 0) ;
  padding:0.4rem;
  display: block;
  margin-bottom: 5px;
  /*border-radius: 15px 15px 5px 5px;*/
}

.logo{
  width: 4rem;
  border:4px solid lightgray;
  border-radius: 100%;
  margin: 1rem 5rem 0;
}

.logo-text{
  color: white;
  font-size: 1rem;
  padding-left: 2rem;
  /*+ptt todo add font*/
}

.logo:hover{
  position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease;
  background-color:white;
  color:green;
/*+ptt todo add style here */
}

.logo:active{
  border:4px solid orange;
  position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease;
  background-color:white;
  color:blue;
  border-radius: 100%;

  /*+ptt todo add style*/
}


/* navigation menu */
.menu{
  text-align: center;
  background-color:  #071a33 ;
  padding: 4px 3px 0;
  height: 2rem;
}

.menu-item{
  display: inline;
  font-family: 'Angkor', cursive;
  font-size: 1.1rem;
  position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease;
  text-align: left;
  text-decoration: none;
  padding: 2px 4px;
}

.menu-item a{
  color: white;
  text-decoration: none;
  padding: 0 0.5rem 0;
}

.menu-item a:hover{
  background-color: rgb(128, 0, 0);
  /*+ptt todo add style*/
}


.flex-grid {
  border: 1px solid #ccc;
  margin: 0 auto;
  width: 100%; /*95%;*/
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  align-items: flex-start;
  /*margin: 0;*/
  /*padding: 0;*/
  /*justify-content:flex-start;*/
}


/* Base classes for all media */
/*.container--fit > .item {
  flex: 1;
}
.container--full > .item {
  flex: 0 0 100%;
}
.container--1of2 > .item {
  flex: 0 0 50%
}
.container--1of3 > .item {
  flex: 0 0 33.3333%
}
.container--1of4 > .item {
  flex: 0 0 25%
}*/


/* grid style */
/*.container--top{
  align-items: flex-start;
}

.container--gutters {
  margin: -1em 0 0 -1em;
}
.container--gutters > .item {
  padding: 1em 0 0 1em;
}
*/


/* title section beginning of each page content*/
.page-title{
  background: gray ;
  padding-left: 2rem;
  width: 100%;
  color: white;
  line-height: 0.5;
}

/* grid-cell */
.col {
  display: inline-block;
  align-self: flex-start;
  width: 48%;
  padding: 0.5rem;
}

.col img{
  width: 100%;
}

.col h3{
  background: lightgray;
  height: 2rem;
  font-size: 1.1rem;
  padding: 0.2rem;
}

.instructor{
  background: #ccddff;
  height: 1.2rem;
  font-size: 1rem;
  padding: 0.2rem 1rem 1.5rem;
  margin: 2rem 0;
  align-self: flex-end;
}

/*h5:nth-child(2){
	background:  #ccddff;
}*/

/*.col + .instructor:nth-child(2){
	background: red ;
}*/

.instructor-img{
  border-radius: 30%;
  border:3px solid orange;
  margin: 1rem 0;

}

/*div ~ img:nth-child(2){
  border:3px solid red;
}*/




/* content full width */
.full-content {
  color: #303235;
  padding: 0 1rem 0;
  width: 100%;
}
.full-content img{
  width: 100%;
  margin: auto;
}

/* class selection */
.class-type{
  font-family: 'Angkor', cursive;
  padding: 0.3rem;
}

.class-type a{
  text-decoration: none;
  color: #292A27;
}

.class-type a:hover{
  text-decoration: none;
  color: white;
}

.class-type a:active{
  text-decoration: none;
  color: #292A27;
}

.class-type:hover{
  position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease;
  background-color:#2b53b1;
  box-shadow: 2px 2px 1px rgb(128, 0, 0);
}


/* misc general */
body p{
  font-family: 'Courgette', cursive;
}

.landing-image{
  width: 50%;
  display: block;
  border:4px solid lightgray;
  margin: auto;
  border-radius: 10%;
}

article > h4 {
  margin-left: 1rem;
}

article > p {
  margin-left: 1rem;
}



/* footer */
.footer{
  clear: both;
  color: white;
  background-color: rgb(128, 0, 0) ;
  padding:0.1rem 1rem 0.1rem;
  display: block;
  line-height: 0.2;
  font-size: 0.8rem;
}

.copyright{
  text-align: center;
  font-size: 0.7rem;
}

.copyright a{
  color:inherit;
}

.tab{
  padding-left: 5rem;
}
